@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-UltraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Black.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Heavy.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Neue Machina";
  src: url("/fonts/NeueMachina-Ultrabold.otf");
  font-weight: 900;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Style the rotating spinner */
.spinner {
  border: 4px solid rgb(255, 255, 255);
  border-top: 4px solid #333; /* Change color as needed */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite; /* Apply the spin animation */
}
